<footer id="site-footer" class="py-10 print:hidden">
    <div class="flex items-center justify-between">
        <p class="text-sm text-neutral-500 dark:text-neutral-400">&copy;2025 <a href="https://inferara.com/jp">Inferara株式会社</a></p>
        <p class="text-xs text-neutral-500 dark:text-neutral-400"></p>
    </div>
    <script>
        mediumZoom(document.querySelectorAll("img:not(.nozoom)"), {
        margin: 24,
        background: 'rgba(0,0,0,0.5)',
        scrollOffset: 0,
        })
    </script>
    {{ $jsProcess := resources.Get "js/process.js" }}
    {{ $jsProcess = $jsProcess | resources.Minify | resources.Fingerprint "sha512" }}
    <script type="text/javascript" src="{{ $jsProcess.RelPermalink }}" integrity="{{ $jsProcess.Data.Integrity }}"></script>
</footer>
