<footer id="site-footer" class="py-10 print:hidden">
    <div class="flex items-center justify-between">
        <p class="text-sm text-neutral-500 dark:text-neutral-400">&copy;2025 <a href="https://inferara.com/jp">Inferara株式会社</a></p>
        <p class="text-xs text-neutral-500 dark:text-neutral-400"></p>
    </div>
    <script>
        mediumZoom(document.querySelectorAll("img:not(.nozoom)"), {
        margin: 24,
        background: 'rgba(0,0,0,0.5)',
        scrollOffset: 0,
        })
    </script>
    <script type="text/javascript"
        src="/js/process.min.ee03488f19c93c2efb199e2e3014ea5f3cb2ce7d45154adb3399a158cac27ca52831db249ede5bb602700ef87eb02434139de0858af1818ab0fb4182472204a4.js"
        integrity="sha512-7gNIjxnJPC77GZ4uMBTqXzyyzn1FFUrbM5mhWMrCfKUoMdsknt5btgJwDvh&#43;sCQ0E53ghYrxgYqw&#43;0GCRyIEpA=="></script>
</footer>
